@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: "poppins", sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* ----------------------------NAVBAR------------------------- */

.navbar{
    background-color: rgba(255, 255, 255, 0.007);
     backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.062);
    height: 10vh;

}

.mobile-nav{
    display: none;
}

.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 10px;        
    }

    h3{
        font-weight: 100;
    }
}


.menue{

    ul{
        display: flex;
        justify-content: space-between;
        
    }

    li{
       list-style: none;
       text-decoration: none;
    
       margin-right: 70px;
    }

}


.menue li:hover{
    color: blue;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar{
        font-size: 12px;
        img{
            width: 45px;
            height: 43px;
        }

        li{
            margin-right: 40px;
        }
    }
}

@media (max-width: 480px){
    .navbar{
        display: none;
    }

    .mobile-nav{
        display: block;
        position: fixed;
       bottom: 20px;
       width: 100%;
        
        ul{
            display: flex;
            justify-content: space-around;
            text-align: center;
            background-color: rgba(0, 0, 255, 0.1);
            backdrop-filter: blur(10px);
            margin: 10px;
            padding: 5px;
            border-radius: 20px;
        }
        li{
            list-style: none;
            font-size: 11px;
            padding: 6px 20px;
            border-radius: 50%;
        }
    }

    .mobile-nav li:hover{
       
        color: blue;
    }

     .mobile-nav li.active{
         background-color: blue;
        color: white;
        aspect-ratio: 1 / 1;
        

     }
}

/* ---------------------------------------------FOOTER=============================================== */
footer{
  background-color: rgba(0, 0, 0, 0.673);
  color: white;
 
  padding-top: 2rem;
}

.footer-categories{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 0rem;
}

.footer-categories a{
 color: white;
 font-size: 30px;
 transition: ease-in-out 0.5s;
}

.footer-categories a:hover{
  color: #6f6af8;
}

.footer-copyright{
  text-align: center;
  padding-bottom: 8rem;
  padding-top: 0.5rem;
  font-size: small;
}



/* ---------------------------------------------HEROPAGE-------------------------------------- */

.heropage{
    background-color: aliceblue;
    display: grid;
    place-items: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.name_nav{
    display: none;
}

.intro{
    width: 60%;
    text-align: center;
    margin-right: 20px;
   
    h1{
        font-size: 40px;
    }

    h2{
        font-size: 28px;
        font-weight: 500;
    }

    span{
        color:  #6f6af8;
    }

    Button{
        margin: 20px;
        padding: 10px 70px;
        color: white;
        background-color:  #6f6af8;
        border-radius: 20px;
        border: none;
    }
}





@media (max-width: 768px){
    .heropage{
        padding: 10px;
    }

    .intro{
        width: 100%;
        padding: 10px;
        h1{
            font-size: 35px;
            padding-bottom: 5px;
        }

        h2{
            font-size: 23px;
            padding-bottom: 10px;
        }

        Button{
            font-size: 12px;
        }
    }
}


@media (max-width: 480px){
.image{
    height: 40vh;
}

.name_nav{
    background-color: rgba(255, 255, 255, 0.045);
    display: block;
    height: 5vh;
    text-align: center;
    backdrop-filter: blur(10px);
    color: #6f6af8;
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.541);
}
    .intro{
        width: 100%;
          h1{
            font-weight: 600;
            font-size: 30px;
            padding-bottom: 5px;
        }

        h2{
            font-size: 20px;
            padding-bottom: 10px;
        }
        p{
            
            font-size: 16px;
            padding-bottom: 10px;
            letter-spacing: 0.5px;
            word-spacing: 2px;
            padding: 20px;
        }

        button{
            padding: 8px 40px;
        }
    }
}

/* -------------------------------------------ABOUT----------------------------------- */

.about{
    padding: 10px;
}

.head{
    padding-top: 30px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 17px;
    h1{
        color: #6f6af8;
        margin-top: 30px;
        padding-bottom: 20PX;
    }
}

.abt-and-skill{
    display: grid;
   grid-template-columns: repeat(2, 1fr); 
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
   
}

.abt{
    font-size: 17px;
    line-height: 25px;
    h2{
        padding-bottom: 50px;
    }

    p{
        width: 90%;
    }
}

.skill{
    text-align: center;
    
    h2{
        padding-bottom: 40px;
    }
}

.skill-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
        margin: 0 auto;
}

.skill-card {
    background-color: #7a7a7a;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) ;
     display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 150px;
    margin: 10px;
    padding: 20px;
}

.icon {
font-size: 70px; 
 margin-top: 10px;
}


@media (max-width: 1150px){
 
    .head{
        font-size: 18px;
        h1{
            color: #6f6af8;
            font-size: 30px;
        }
        
    }

    
.abt-and-skill{
   grid-template-columns: repeat(1, 1fr); 
}
    .abt{
        font-size: 17px;
        padding: 0%;
        width: 90%;
        margin: 10px;
        h2{
            text-align: center;
            font-size: 30px;
        }
        p{
            text-align: center;
            width: 100%;
        }
           
    } 

     
.skill{
    margin-top: 50px;
    padding: 0%;
    width: 100%;
} 

 
 .skill-card {
    font-size: 18px;
   height: 20vh;
   width: 18vw;
} 


.icn{
    font-size: 70px;
}

}

@media (max-width: 480px){
   
    .head{
        font-size: 13px;
        p{
            font-size: 14px;
        }
    }

    .abt-and-skill{
        padding: 0%;
    }

    .abt{
        font-size: 14px;
        h2{
            font-size: 25px;
            padding-bottom: 20px;
        }
    }

    
.skill-grid {
        grid-template-columns: repeat(2, 1fr); 
}
   
 .skill-card {
    font-size: 17px;
   height: 20vh;
   width: 37vw;
} 
}
 


/* ----------------------------------------------PROJECTS------------------------------------------------------------------ */
.projects{
    max-width: 100%;
    width: 100%;
    padding: 0px 10px;
    h1{
        color: #6f6af8;
        padding-top: 70px;
        padding-bottom: 20px;
        text-align: center;
    }
}

.project-container{
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}

.project-image{
   max-width: 100%;
  img{
    width: 100%;
    margin: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 10px gray;
  }
}

.dom-con{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}

.dom{
    border: 0.5px solid black;
    padding: 5px 10px;
    border-radius: 10px;
}

.abt-product{
    width: 90%;
    font-size: 15px;
    overflow: hidden;
    padding: 20px;
}

.project-btn{
    display: flex;
    justify-content: space-around;
}

.project-links button{
    padding: 7px 70px;
    margin-inline:auto ;
    margin: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #6f6af8;
    border: none;
}




@media (max-width: 950px){
    .project-container{
        grid-template-columns: 1fr;
        place-items: center;
    }

    .project-image{
  img{
    width: 45rem;
    margin: px;
  }
}


.abt-product{
    width: 85%;
    font-size: 15px;
    overflow: hidden;
    padding: 0px;
}

.project-links button{
     padding: 7px 170px;
    margin-inline:auto ;
    margin: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #6f6af8;
    border: none;
}


}


@media (max-width: 480px){
      .projects{
       place-items: center;
    }

  .project-container{
    text-align: center;
    background-color:white;
    border-radius: 20px;
    gap: 5px;
    width: 90%;
    height: 50vh;
    overflow: hidden;
    box-shadow: 4px 0px 10px;
}

.abt-product{
    padding: 0%;
    font-size: 12px;
    overflow: hidden;
}

.project-image{
  img{
    
    width: 100%;
    margin: 0%;
  }
}

.dom-con{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 8px;
}

.dom{
    border: 0.5px solid black;
    padding: 5px 10px;
    border-radius: 10px;
}

.project-links button{
    padding: 7px 30px;
    margin-top: 10px;
    width: 97%;
    border-radius: 10px;
    margin-bottom: 10px;
}
}








/* ---------CONTACT US-------------------------- */

.contact{
    padding-bottom: 50px;
    background-color: aliceblue;
    height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
    h1{
        margin-top: 60px;
        color: #6f6af8;
        text-align: center;
        padding: 20px 0px;
    }

     p{
        padding-bottom: 30px;
        text-align: center;
        font-size: 18px;
    }

    Button{
        background-color: blue;
        width: 40%;
        color: white;
        float: left;
        border-radius: 20px;
        padding: 8px 25px;
        margin-top: 30px;
        border: none;
        transition: ease-in-out 0.5s;
    }
}

.contact  Button:hover{
    background-color: white;
    color: blue;
    border: 0.5px blue solid;
}

.contact-box{
     display: flex;
    flex-direction: column;
    background-color:white;
    width: 90%;
    max-width: 800px;
    padding: 40px;
    border-radius: 10px;
    height: 70vh;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.274);
    input{
        height: 7vh;
        width: 100%;
        border: none;
        background-color: aliceblue;
        margin: 20px 0px;
        padding-left: 20px;
        font-size: 15px;
    }

    textarea{
        padding: 20px;
        width: 100%;
        height: 20vh;
        border: none;
        background-color: aliceblue;
        padding-left: 20px;
        font-size: 15px;
    }
}

.spinner{
     width: 18px;
  height: 18px;
  border: 3px solid rgba(0, 0, 255, 0.407);
  border-top: 3px solid rgba(0, 0, 255, 0.482);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 1150px){
    .contact{
        h1{
            font-size: 27px;
        }

        p{
            font-size: 16px;
        }
    }

}

@media (max-width: 480px){
      .contact{
        h1{
            font-size: 27px;
        }

        p{
            font-size: 14px;
        }
    }

    .contact-box{
        height: 65vh;
        
        input{
            height: 5vh;
        }
    }
}

